<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Conteúdo</title>
  <link rel="icon" href="favicon/favicon.ico" type="favicon">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="content.html">Conteúdos</a>
      <a target="_blank" href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
      <a href="mailto:oi@rocketseat.com.br">Email</a>
      <a href="tel:+5547992078767">Telefone</a>
    </div>
  </header>

  <section class="cards">
    <div class="card" id="starter">
      <div class="card__image">
        <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter">
      </div>
      <div class="card__content">
        <p>Starter</p>
      </div>
      <div class="card__info">
        <p>3 módulos</p>
        <p class="card__info-price">Gratuito</p>
      </div>
    </div>

    <div class="card" id="launchbase">
      <div class="card__image">
        <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="Launchbase">
      </div>
      <div class="card__content">
        <p>Launchbase</p>
      </div>
      <div class="card__info">
        <p>6 módulos</p>
        <p class="card__info-price">Pago</p>
      </div>
    </div>

    <div class="card" id="gostack">
      <div class="card__image">
        <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="GoStack">
      </div>
      <div class="card__content">
        <p>GoStack</p>
      </div>
      <div class="card__info">
        <p>10 módulos</p>
        <p class="card__info-price">Pago</p>
      </div>
    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <a class="maximize-modal">
        <i class="material-icons">maximize</i>
      </a>

      <div class="modal-content">
        <iframe src=""></iframe>
      </div>
    </div>
  </div>

<script src="scripts.js"></script>

</body>

</html>