@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: blanchedalmond;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.links a {
  text-decoration: none;
  margin: 0 30px;
  color: black;
}

.links a:hover {
  color: brown;
}

#wrapper {
  text-align: center;
  padding: 32px; /* deixar o wrapper gordinho */
}

#wrapper img {
  width: 230px;
  border-radius: 50%;
  margin-bottom: 32px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px; /* cria tambem um espaçamento no h1 */
}

#wrapper p {
  font-size: 20px;
  line-height: 30px;
  opacity: 0.8;
}

#wrapper ul {
  opacity: 0.8;
  margin: 16px auto;
  max-width: 50px;
  text-align: left;
}

#links-footer {
  text-align: center;
}

#links-footer a {
  border-bottom: 2px solid brown;
}

/* CARDS */
 .cards {
  max-width: 800px;
  margin: 0 auto;
  padding: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  
}

.card {
  border-radius: 5%;
  padding: 10px;
  background-color: #ccbca4;
  cursor: pointer;
  display: grid;
}

.card__image img {
  display: block;
  margin: 0 auto;
}

.card__content, .card__info {
  padding: 14px;
  text-align: center;
}

.card__content {
  margin-top: 10px;
  font-weight: bold;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card__info-price {
  background-color: #ccbca4;
  filter: brightness(90%);
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/* COURSE PAGE */
section {
  max-width: 500px;
  margin: 32px auto;

}

.card__course {
  border-radius: 5%;
  padding: 20px;
  background-color: #ccbca4;
}

button {
  background-color: blueviolet;
}

.card__button {
  cursor: pointer;
  padding: 16px;
  margin: 32px auto 0 auto;
  width: 100px;
  border-radius: 5%;
  background-color: blueviolet;
  display: grid;
  
}

.card__button a {
  text-decoration: none;
  font-size: 16px;
  background-color: blueviolet;
  color: white;
  align-items: center;

}

/* NOT FOUND */
.not-found-info {
  text-align: center;
  padding: 32px;
  font-size: 35px;
}